<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Create Product</title>
    <!-- stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/Styles.css">
</head>

<body>

<header>
    <!-- Navigation Bar -->
    <nav class="navigation">
        <a href="/">Nordic Motorhome Rental</a>
        <a href="customerAdministration">Customer Administration</a>
        <a href="motorhomeAdministration">Motorhome Administration</a>
        <a href="leaseAdministration">Lease Administration</a>
        <a href="productAdministration">Product Administration</a>
    </nav>
</header>


<div class="container">
    <h1>Create Product</h1>
    <form th:action="@{/createProduct}" th:object="${product}" method="post">

        <tr>
            <th>Name:</th>
            <td><input type="text" th:field="*{productName}" placeholder="Name" /></td>
        </tr>
        <br>
        <tr>
            <th>Price:</th>
            <td><input type="text" th:field="*{productPrice}" placeholder="Price"/></td>
        </tr>
        <br>
        <input type="submit" value="Create" class="btn btn-create">
    </form>
    <br>
</div>



</body>
</html>