<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>Delete Product</title>
</head>

<body>
<div>
    <h1 id="logo">NORDIC MOTORHOME RENTAL</h1>
</div>


<header>
    <!-- Navigation Bar -->
    <nav>
        <ul> <!--ul = unordered list (laver det på punktform), li = list-->
            <li><a href="/">Nordic Motorhome Rental</a></li>
            <li><a href="/customerLeaseManagement">Customer & Lease Management</a></li>
            <li><a href="motorhomeAdministration">Motorhome Administration</a></li>
            <li><a href="productAdministration">Product Administration</a></li>
        </ul>
    </nav>
</header>

<div class="container">
    <h1>Delete Product</h1>
    <h2>Are you sure you want to delete?</h2>
    <form th:action="@{deleteProduct}"  th:object="${product}" method="post">
        <input type="hidden" th:field="${product.productId}"/>
        <tr>


<!--            <Form class ="container" th:action="@{student/deleteStudent}" method="post">-->
<!--                <input type="hidden" name="id" th:value="${student.id}"/>-->



            <th>Id:</th>
            <span th:text="${product.productId}"></span>
        </tr>
        <br>
        <tr>
            <th>Brand:</th>
            <span th:text="${product.getProductName()}"></span>
        </tr>
        <br>
        <tr>
            <th>Model:</th>
            <span th:text="${product.getProductPrice()}"></span>
        </tr>
        <br>
        <br>
        <button type="submit" value="Submit" class="btn btn-del w">Delete</button>
        <a href="/productAdministration" class="btn btn-details w" type="submit">No</a>
    </form>
</div>
</body>
</html>