<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>Edit Motorhome</title>
</head>

<body>

<header>
    <!-- Navigation Bar -->
    <nav class="navigation">
        <a href="/">Nordic Motorhome Rental</a>
        <a href="customerLeaseManagement">Customer & Lease Management</a>
        <a href="motorhomeAdministration">Motorhome Administration</a>
        <a href="productAdministration">Product Administration</a>
    </nav>
</header>

<div class="container">
    <h1>Edit Product</h1>
    <form class ="container" th:action="@{/editProduct}" th:object="${product}" method="post">
        <input type="hidden" th:field="${product.productId}"/>
        <br>
        <tr>
            <th>Name</th>
            <td><input type="text" th:field="*{productName}"/></td>

        </tr>
        <br>
        <tr>
            <th>Price</th>
            <td><input type="text" th:field="*{productPrice}"/></td>
        </tr>
        <br>
        <br>
        <input type="submit" value="Update" class="btn btn-create">
    </Form>
</div>
</body>
</html>