<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>Edit Motorhome</title>
</head>

<body>
<div>
    <h1 id="logo">NORDIC MOTORHOME RENTAL</h1>
</div>


<header>
    <!-- Navigation Bar -->
    <nav>
        <ul> <!--ul = unordered list (laver det på punktform), li = list-->
            <li><a href="/">Nordic Motorhome Rental</a></li>
            <li><a href="/customerLeaseManagement">Customer & Lease Management</a></li>
            <li><a href="motorhomeAdministration">Motorhome Administration</a></li>
            <li><a href="productAdministration">Product Administration</a></li>
        </ul>
    </nav>
</header>

<div class="container">
    <h1>Edit Product</h1>
    <form class ="container" th:action="@{/editProduct}" th:object="${product}" method="post">
        <input type="hidden" th:field="${product.productId}"/>
        <br>
        <tr>
            <th>Name</th>
            <td><input type="text" th:field="*{productName}"/></td>

        </tr>
        <br>
        <tr>
            <th>Price</th>
            <td><input type="text" th:field="*{productPrice}"/></td>
        </tr>
        <br>
        <br>
        <input type="submit" value="Update" class="btn btn-create">
    </Form>
</div>
</body>
</html>