<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>Customer Administration</title>
</head>
<body>

<div>
    <h1 id="logo">NORDIC MOTORHOME RENTAL</h1>
</div>


<header>
    <!-- Navigation Bar -->
    <nav>
        <ul> <!--ul = unordered list (laver det på punktform), li = list-->
            <li><a href="/">Nordic Motorhome Rental</a></li>
            <li><a href="/customerLeaseManagement">Customer & Lease Management</a></li>
            <li><a href="motorhomeAdministration">Motorhome Administration</a></li>
            <li><a href="productAdministration">Product Administration</a></li>
        </ul>
    </nav>
</header>

<div class="center img-frontpage">
    <img src="../img/Camping-car-liberte-moyen-de-transport-route-des-vacances-chacun-sa-route.jpg" height="430" width="1300"/>
</div>

</body>
</html>