<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <title>Customer Administration</title>
    <!-- stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/Styles.css">
</head>

<body>
<div>
    <h1 id="logo">NORDIC MOTORHOME RENTAL</h1>
</div>


<header>
    <!-- Navigation Bar -->
    <nav>
        <ul> <!--ul = unordered list (laver det på punktform), li = list-->
            <li><a href="/">Nordic Motorhome Rental</a></li>
            <li><a href="/customerLeaseManagement">Customer & Lease Management</a></li>
            <li><a href="motorhomeAdministration">Motorhome Administration</a></li>
            <li><a href="productAdministration">Product Administration</a></li>
        </ul>
    </nav>
</header>

<div class="container">
    <h1>Customer & Lease Management </h1>
        <br>
            <h2>Choose an option</h2>
            <a href="/createCustomer"><button class ="btn btn-create">Create Customer</button></a>
            <a href="/findCustomer"><button class="btn btn-details">Find Customer</button></a>
            <a href="/allCustomers"><button class="btn btn-details">See all Customers</button></a>
        </div>
    </body>
</html>