<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <title>Customer Administration</title>
    <!-- stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/Styles.css">
</head>

<body>

<header>
    <!-- Navigation Bar -->
    <nav class="navigation">
        <a href="/">Nordic Motorhome Rental</a>
        <a href="customerAdministration">Customer Administration</a>
        <a href="motorhomeAdministration">Motorhome Administration</a>
        <a href="leaseAdministration">Lease Administration</a>
        <a href="productAdministration">Product Administration</a>
    </nav>
</header>

<div class="container">
    <h1>Customer Administration </h1>
        <br>
            <h2>Choose an option</h2>
            <a href="/createCustomer"><button class ="btn btn-create">Create Customer</button></a>
            <a href="/findCustomer"><button class="btn btn-details">Find Customer</button></a>
            <a href="/allCustomers"><button class="btn btn-details">See all Customers</button></a>
        </div>
    </body>
</html>