<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>Edit Customer</title>
</head>

<body>

<header>
    <!-- Navigation Bar -->
    <nav class="navigation">
        <a href="/">Nordic Motorhome Rental</a>
        <a href="customerAdministration">Customer Administration</a>
        <a href="motorhomeAdministration">Motorhome Administration</a>
        <a href="leaseAdministration">Lease Administration</a>
    </nav>
</header>

<div class="container">
    <h1>Edit Customer</h1>
            <form class ="container" th:action="@{/editCustomer}" th:object="${customer}" method="post">
                <input type="hidden" th:field="${customer.cusId}"/>
                <br>
                <tr>
                    <th>First Name</th>
                    <td><input type="text" th:field="*{cusFirstName}"/></td>
                </tr>
                <br>
                <tr>
                    <th>Last Name</th>
                    <td><input type="text" th:field="*{cusLastName}"/></td>
                </tr>
                <br>
                <tr>
                    <th>Phone</th>
                    <td><input type="text" th:field="*{cusPhone}"/></td>
                </tr>
                <br>
                <tr>
                    <th>Address</th>
                    <td><input type="text" th:field="*{cusAddress}"/></td>
                </tr>
                <br>
                <tr>
                    <th>zip</th>
                    <td><input type="text" th:field="*{cusZip}"/></td>
                </tr>
                <br>
                <tr>
                    <th>City</th>
                    <td><input type="text" th:field="*{cusCity}"/></td>
                </tr>
                <br>
                <tr>
                    <th>Drivers License</th>
                    <td><input type="text" th:field="*{cusDriversLicense}"/></td>
                </tr>
                <br>
                <tr>
                    <th>Email</th>
                    <td><input type="text" th:field="*{cusEmail}"/></td>
                        </tr>
                <br>
                <input type="submit" value="Update" class="btn btn-create">
            </Form>
        </div>
    </body>
</html>