<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>Find Customer</title>
</head>

<body>
<div>
    <h1 id="logo">NORDIC MOTORHOME RENTAL</h1>
</div>


<header>
    <!-- Navigation Bar -->
    <nav>
        <ul> <!--ul = unordered list (laver det på punktform), li = list-->
            <li><a href="/">Nordic Motorhome Rental</a></li>
            <li><a href="/customerLeaseManagement">Customer & Lease Management</a></li>
            <li><a href="motorhomeAdministration">Motorhome Administration</a></li>
            <li><a href="productAdministration">Product Administration</a></li>
        </ul>
    </nav>
</header>
<br>
<br>
<div class="container">
    <h1>Find Customer</h1>
        <form th:action="@{/getCustomerById}" th:object="${customer}" method="post">
            <tr>
            <th>Indtast id:</th>
                <input type="text" th:field="*{cusId}" placeholder="Id" />
            <input type="submit" value="Search"/>
            </tr>
        </form>
        <div>
            <span th:if="${customer.getCusId() != 0}">
                <br>
                <h2>Customer details</h2>
                <tr>
                    <th>Id:</th>
                    <span th:text="${customer.getCusId()}"></span>
                </tr>
                <br>
                <tr>
                    <th>First name:</th>
                    <span th:text="${customer.getCusFirstName()}"></span>
                </tr>
                <br>
                <tr>
                    <th>Last name:</th>
                    <span th:text="${customer.getCusLastName()}"></span>
                </tr>
                <br>
                <tr>
                    <th>Phone:</th>
                    <span th:text="${customer.getCusPhone()}"></span>
                </tr>
                <br>
                <tr>
                    <th>Address:</th>
                    <span th:text="${customer.getCusAddress()}"></span>
                </tr>
                <br>
                <tr>
                    <th>Zip:</th>
                    <span th:text="${customer.getCusZip()}"></span>
                </tr>
                <br>
                <tr>
                    <th>City:</th>
                    <span th:text="${customer.getCusCity()}"></span>
                </tr>
                <br>
                <tr>
                    <th>Drivers license:</th>
                    <span th:text="${customer.getCusDriversLicense()}"></span>
                </tr>
                <br>
                <tr>
                    <th>Email:</th>
                    <span th:text="${customer.getCusEmail()}"></span>
                </tr>
                <br>
                <br>
                <a th:href="@{/editCustomer(cusId=${customer.getCusId()})}"><button class="btn btn-ed">Edit</button></a>
                <a th:href="@{/createLease(cusId=${customer.getCusId()})}"><button class="btn btn-ed">Create Lease</button></a>
                <a th:href="@{/deleteCustomer(cusId=${customer.getCusId()})}"><button class="btn btn-del">Delete</button></a>
                    </span>



<!--                <table>-->
<!--                    <tr>-->
<!--                        <th>Lease Id</th>-->
<!--                        <th>Motorhome Id</th>-->
<!--                        <th>Customer Id</th>-->
<!--                        <th>Rent date</th>-->
<!--                        <th>Return date</th>-->
<!--                    </tr>-->
                    <tr th:each="leaseEntities : ${allLeases}">
                        <table>
                            <tr>
                                <th>Lease Id</th>
                                <th>Motorhome Id</th>
                                <th>Customer Id</th>
                                <th>Rent date</th>
                                <th>Return date</th>
                            </tr>
                            <hr>
                        <th th:text="${leaseEntities.leaseId}"></th>
                        <th th:text="${leaseEntities.motorhomeId}"></th>
                        <th th:text="${leaseEntities.cusId}"></th>
                        <th th:text="${#dates.format(leaseEntities.rentDate, 'yyyy-MM-dd')}"></th>
                        <th th:text="${#dates.format(leaseEntities.returnDate, 'yyyy-MM-dd')}"></th>
                            </tr>
                </table>
        </div>
        </div>
    </body>
</html>
