<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>Find Motorhome</title>
</head>

<body>
<div>
    <h1 id="logo">NORDIC MOTORHOME RENTAL</h1>
</div>


<header>
    <!-- Navigation Bar -->
    <nav>
        <ul> <!--ul = unordered list (laver det på punktform), li = list-->
            <li><a href="/">Nordic Motorhome Rental</a></li>
            <li><a href="/customerLeaseManagement">Customer & Lease Management</a></li>
            <li><a href="motorhomeAdministration">Motorhome Administration</a></li>
            <li><a href="productAdministration">Product Administration</a></li>
        </ul>
    </nav>
</header>

<br>
<br>
<div class="container">
    <h1>Find Motorhome</h1>
    <form th:action="@{/getMotorhomeById}" th:object="${motorhome}" method="post">
        <tr>
            <th>Indtast id:</th>
            <input type="text" th:field="*{motorhomeId}" placeholder="Id" />
            <input type="submit" value="Search"/>
        </tr>
    </form>
    <div>
        <span th:if="${motorhome.getMotorhomeId() != 0}">
            <br>
                <h2>Motorhome details</h2>
                <tr>
                    <th>Id:</th>
                    <span th:text="${motorhome.getMotorhomeId()}"></span>
                </tr>
                <br>
                <tr>
                    <th>Brand:</th>
                    <span th:text="${motorhome.getBrand()}"></span>
                </tr>
                <br>
                <tr>
                    <th>Model:</th>
                    <span th:text="${motorhome.getModel()}"></span>
                </tr>
                <br>
                <tr>
                    <th>Type:</th>
                    <span th:text="${motorhome.getType()}"></span>
                </tr>
                <br>
                <tr>
                    <th>Description:</th>
                    <span th:text="${motorhome.getDescription()}"></span>
                </tr>
                <br>
                <tr>
                    <th>Price:</th>
                    <span th:text="${motorhome.getPrice()}"></span>
                </tr>
                <br>
                <br>
                <a th:href="@{/editMotorhome(motorhomeId=${motorhome.getMotorhomeId()})}"><button class="btn btn-ed w">Edit</button></a>
                <a th:href="@{/deleteMotorhome(motorhomeId=${motorhome.getMotorhomeId()})}"><button class="btn btn-del w">Delete</button></a>
                    </span>
            </div>
        </div>
    </body>
</html>
