<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Motorhome Administration</title>
    <!-- stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/Styles.css">
</head>

<body>

<header>
    <nav class="nav">
        <a href="/">Nordic Motorhome Rental</a>
        <a href="customerAdministration">Customer Administration</a>
        <a href="motorhomeAdministration">Motorhome Administration</a>
    </nav>
</header>

<div class="container">
    <h1>Motorhome Administration </h1>
        <br>
            <h2>Choose an option</h2>
            <a href="/createMotorhome"><button class ="btn btn-create">Create motorhome</button></a>
            <a href="findMotorhome"><button class="btn btn-details">Find motorhome</button></a>
            <a href="allMotorhomes"><button class="btn btn-details">See all motorhomes</button></a>
        </div>
    </body>
</html>