<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Motorhome Administration</title>
    <!-- stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/Styles.css">
</head>

<body>
<div>
    <h1 id="logo">NORDIC MOTORHOME RENTAL</h1>
</div>


<header>
    <!-- Navigation Bar -->
    <nav>
        <ul> <!--ul = unordered list (laver det på punktform), li = list-->
            <li><a href="/">Nordic Motorhome Rental</a></li>
            <li><a href="/customerLeaseManagement">Customer & Lease Management</a></li>
            <li><a href="motorhomeAdministration">Motorhome Administration</a></li>
            <li><a href="productAdministration">Product Administration</a></li>
        </ul>
    </nav>
</header>

<div class="container">
    <h1>Motorhome Administration </h1>
        <br>
            <h2>Choose an option</h2>
            <a href="/createMotorhome"><button class ="btn btn-create">Create motorhome</button></a>
            <a href="findMotorhome"><button class="btn btn-details">Find motorhome</button></a>
            <a href="allMotorhomes"><button class="btn btn-details">See all motorhomes</button></a>
        </div>
    </body>
</html>